body {
  background-image: url("pexels-photo-2612113.jpeg");
  background-size: 100%;
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
}
.header {
  margin-top: 50px;
  padding-bottom: 20px;

}
.btn {
  margin-top: 10px;
  border-radius: 12px;
  background-color: #d1d1d1;
  color: black;
  font-weight: 5;
}
#inputValue {
  height: 25px;
  width: 250px;
  border-radius: 12px;
  background-color: #d1d1d1;
  color: black;
  text-align: center;
}
.queueList {
  width: 250px;
  margin: auto;
  height: 100vh
}
ol li {
  margin-left: 70px;
  text-align: center;
  padding-right: 100px ;
}
